<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Form</title>
</head>
<body>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
     
    <% } %>
    <form action="/auth/register" method="post">
        <input type="text" name="userName" required placeholder="UserName"><br>
        <input type="email" name="email" required placeholder="Email"><br>
        <input type="password" name="password" required placeholder="Password"><br>
        <p>Already have Account <a href="/auth/login">Login</a></p>

        <button type="submit">Submit</button>
    </form>
</body>
</html>