<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Form</title>
</head>
<body>
    <h2>Reset Form</h2>
    <form action="/auth/reset/<%= token %>" method="post">

        <input type="password" name="password" required placeholder="Enter new Password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>