<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation Form</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/posts/create" method="post">
        <input type="text" name="title" placeholder="Title required"><br>
        <textarea name="content" id="" rows="5" cols="40" placeholder="Write you Content"></textarea><br>
        
        <button type="submit">Create Post</button>
    </form>
    <a href="/">Back To Home</a>
</body>
</html>